.contenedor {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-fondo);
  justify-content: center;
  align-items: center;
}

.contenedor-configuracion {
  position: relative;
  padding: 3rem;
  max-width: 540px;
  max-height: 600px;
  overflow-y: auto;
  background-color: var(--color-fondo);
  margin: 0 auto;
}

.boton-cerrar {
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: white;
}

.contenedor-modo-oscuro {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 20px;
}

.contenedor-configuracion p {
  font-size: 15px;
  padding: 20px;
}

.contenedor-modo-daltonismo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.clickeado+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

.clickeado+.slider:before {
  transform: translateX(23px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.configuracion-titulo {
  display: flex;
  flex-flow: row nowrap;
  gap: 3px;
  justify-content: center;
}

@media all and (max-width:600px) {
  .contenedor-configuracion {
    width: 90%;
  }
}