:root {
    --color-absent: #757575;
    --color-present: #e4a81d;
    --color-correct: #43a047;
    --color-error: #bb3429;
}

.letraIngreso{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 62px;
    height: 100%;
    max-height: 62px;
    border: 2px solid rgb(224, 224, 224);
    font-size: 1.875rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    padding:30px;
    color:black;
    transition: all 0.2s;
}

.letraIngreso:focus{
    border: 2px solid rgb(144, 202, 249);
    outline: none;
}

.correct{
    background-color: var(--color-correct);
    color: white;
}
.absent{
    background-color: var(--color-absent);
    color: white;
}
.present{
    background-color: var(--color-present);
    color: white;
}

