.contenedor-principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.grilla-principal-contenedor {

  width: 100%;
  height: auto;

  max-width: 352.5px;
  max-height: 420px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  margin: auto;
  flex-grow: 1;
  padding-top: 20px;
}

@media only screen and (max-width: 520px) {
  .grilla-principal-contenedor {
    margin: auto;
  }
}