.tecladoVirtual {
  width: 50%;
  max-width: 520px;

  height: auto;
  max-height: 192px;
  min-height: 162px;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto auto 0px auto;
  background-color: var(--color-fondo);
}

.fila {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-shrink: -1;
}

.tecla,
.tecla-larga {
  width: 100%;
  max-height: 60px;
  height: auto;
  margin: 2px;
  padding: 2%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: var(--color-teclado);
  color: var(--color-fuente);
  cursor: pointer;
  outline: none;
}

.tecla:hover,
.tecla-larga:hover {
  filter: brightness(70%)
}

.tecla:focus,
.tecla-larga:focus {
  filter: brightness(100%)
}

/*Para que funcione el active en mobile se debe poner en este orden*/
.tecla:active,
.tecla-larga:active{
  filter: brightness(70%)
}

.tecla-larga {
  width: 25%;
  height: 60px;
}

.Enviar-contenedor{
  display: flex;
}

.Enviar1 {
  display: flex;
}

.Enviar2 {
  display: none;
  margin: auto;
}


.correct {
  background-color: var(--color-correct);
  color: white;
}

.absent {
  background-color: var(--color-absent);
  color: white;
}

.present {
  background-color: var(--color-present);
  color: white;
}


@media only screen and (max-width: 726px) {
  .tecladoVirtual {
    width: 100%;
    height: auto;
  }

  .tecla,
  .tecla-larga {
    width: 70%;
    height: auto;
    margin: 2px;
    padding: 2%;
    font-size: 20px;
  }

  .fila {
    width: 100%;
  }

  .Enviar1 {
    display: none;
  }

  .Enviar2 {
    display: flex;

  }

}