.tecladoVirtual {
  width: 80%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 50px;
}

.fila {
  display: flex;
  flex-direction: row;
}

.tecla,
.tecla-larga {
  width: 20%;
  height: 60px;
  margin: 1px;
  padding: auto;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #e2e8f0;
  color: black;
  cursor: pointer;
}

.tecla:hover,
.tecla-larga:hover {
  background-color: #34495e;
}

.tecla-larga {
  width: 25%;
  height: 60px;
}

@media only screen and (max-width: 1200px) {
  .tecladoVirtual {
    width: 80%;
    height: 40%;
  }
}