:root {
  --color-fuente: #000;
  --color-fondo: #fff;

  --color-teclado: #e2e8f0;

  --color-absent: #757575;
  --color-present: #e4a81d;
  --color-correct: #43a047;
  --color-error: #bb3429;
}

[tema='dark'] {
  --color-fuente: #fff;
  --color-fondo: #000;
}

[modo="daltonismo"] {
  --color-absent: #757575;
  --color-present: #e4a81d;
  --color-correct: #81d4fa;
  --color-error: #bb3429;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-fondo);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}